.editor {
  height: 100%;
  text-align: left;
}
.sandbox {
  display: flex;
}
.sandbox > div {
  height: 100vh;
  flex: 1;
}

.output {
  background-color: #333333;
  padding: 20px;
  color: aliceblue;
}

.outline {
  background-color: #201d1d;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 4px;
}

.head {
  display: flex;
  background-color: #7d7d7d;
  padding: 20px;
  color: #000;
}

.head > div {
  padding: 4px 10px;
  border-radius: 4px;
  margin-right: 20px;
  background-color: #fff;
}